@mixin _border($position: null, $width: $borderWidth) {
	@if $position {
		border-#{$position}: $width solid $color__text-main;
		@if $position == 'top' or $position == 'bottom' {
			border-image-outset: $borderWidth / 2 0;
		} @else {
			border-image-outset: 0 $borderWidth / 2;
		} 
	} @else {
		border: $width solid $color__text-main;
		border-image-outset: $borderWidth / 2;
	}
	border-image-repeat: repeat;
	border-image-slice: 8;
}

@mixin border($position: null, $width: $borderWidth) {
	@include _border($position, $borderWidth);
	border-image-source: url(images/borders/white.svg);
}

@mixin borderCyan($position: null, $width: $borderWidth) {
	@include _border($position, $borderWidth);
	border-image-source: url(images/borders/cyan.svg);
}

@mixin borderButton($position: null, $width: $borderWidth) {
	@include _border($position, $borderWidth);
	border-image-source: url(images/borders/cyan_dark.svg);
}

@mixin borderButtonHover($position: null, $width: $borderWidth) {
	@include _border($position, $borderWidth);
	border-image-source: url(images/borders/cyan_dark_hover.svg);
}

@mixin borderBeige($position: null, $width: $borderWidth) {
	@include _border($position, $borderWidth);
	border-image-source: url(images/borders/beige.svg);
}

@mixin borderBlack($position: null, $width: $borderWidth) {
	@include _border($position, $borderWidth);
	border-image-source: url(images/borders/black.svg);
}

@mixin borderOuter($position: null, $width: $borderWidth) {
	@include _border($position, $borderWidth);
	border-image-source: url(images/borders/outer.svg);
	border-image-outset: 0;
	content: "\020";
	position: absolute;
	z-index: 1;
	@if $position {
		#{$position}: 0;
		margin-#{$position}: 0;
	}
}

@mixin underline($width: $borderWidth) {
	border-bottom: $width solid $color__text-main;
	border-image-slice: 10 0;
	border-image-source: url(images/borders/horizontal.svg);
	opacity: 1;
}

@mixin pseudoBorder($position) {
	content: '';
	position: absolute;
	background-image: url('images/border_#{$position}.png');
}

@mixin pseudoBorderHorizontal($position, $height: $borderWidth) {
	@include pseudoBorder($position);
	width: 100%;
	height: $height;
	background-repeat: repeat-x;
	left: 0;
	right: 0;
	#{$position}: 0;
	z-index: 1000;
}

@mixin pseudoBorderVertical($position) {
	@include pseudoBorder($position);
	height: 100%;
	background-repeat: repeat-y;
}
