/* Site footer */

#colophon {
	color: $color__text-light;
	background: $color__text-main;
	@include borderBlack('top');
	margin-top: 0;

	a {
		color: inherit;
		&:hover {
			color: $color__background-body;
		}
	}

	.widget-area,
	.site-info {
		margin: calc(2 * #{$size__spacing-unit}) $size__spacing-unit;

		@include media(tablet) {
			margin: calc(3 * #{$size__spacing-unit}) $size__site-margins;
		}
	}

	.widget-column {
		display: flex;
		flex-wrap: wrap;
		.widget {
			width: 100%;
			@include media(desktop) {
				margin-right: calc(3 * #{$size__spacing-unit});
				width: calc(50% - (3 * #{$size__spacing-unit}));
			}
		}
	}

	.site-info {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.site-name,
		.imprint,
		.privacy-policy-link {
			margin-right: $size__spacing-unit;
		}
	}
}