// Site header

$customLogoSize: 50px;
$customLogoSizeTablet: 64px;

.site-header {
	box-sizing: border-box;
	position: relative;
	padding: 0.5 * $size__spacing-unit $size__spacing-unit calc(#{0.5 * $size__spacing-unit} - #{$borderWidth}) 0.5 * $size__spacing-unit;
	z-index: 1001;
	background-color: $color__background-body;
	// bottom border
	@include border('bottom');

	&.featured-image {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 80vh;
		max-height: 400px;
		
		.site-branding-container {
			margin-bottom: auto;
		}

		@include media(tablet) {
			min-height: 80vh;
			// margin-bottom: 3rem;
			padding-bottom: $size__spacing-unit;
		}
	}

	.wp-post-image {
		// border-bottom: $borderWidth solid $color__text-main;
		// border-image-source: url(images/borders/outer.svg);
		// border-image-source: url(images/border-wo-corners.svg);
		// border-image-slice: 30;
		// border-image-slice: 0 0 7 0;
		// border-image-repeat: repeat;
		// border-image-repeat: round;
		// margin: -$borderWidth;
	}

	@include media(tablet) {
		// padding: .75 * $size__spacing-unit;
		// padding-right: $size__spacing-unit;
		// padding-bottom: calc(#{.75 * $size__spacing-unit} - #{$borderWidth});
		// margin: 0;
		// margin-bottom: -$borderWidth;
	}
}

// Site branding

.site-branding {

	color: $color__text-light;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	// min-height: $customLogoSize;

	@include media(tablet) {
		// max-width: $tablet_width;
		// margin: 0 $size__site-margins;
		// min-height: $customLogoSizeTablet;
	}

	@include media(desktop) {
		// max-width: $desktop_width;
	}
}

// Site logo

.site-logo {

	// position: relative;
	// z-index: 999;
	// margin-bottom: calc(.66 * #{$size__spacing-unit});
	margin-right: $size__spacing-unit;

	@include media(tablet) {
		// margin-bottom: 0;
		// position: absolute;
		// right: calc(100% + (1.25 * #{$size__spacing-unit}));
		// top: 4px; // Accounts for box-shadow widths
		// z-index: 999;
	}

	.custom-logo-link {
		border-radius: 100%;
		box-sizing: content-box;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		display: block;
		width: $customLogoSize;
		height: $customLogoSize;
		overflow: hidden;
		transition: box-shadow $background_transition ease-in-out;

		.custom-logo {
			min-height: inherit;
		}

		&:hover,
		&:active,
		&:focus {
			box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
		}

		@include media(tablet) {
			width: $customLogoSizeTablet;
			height: $customLogoSizeTablet;
		}
	}
}

// Site title and description
.site-title-and-description {
	// flex: 1;
	margin-right: $size__spacing-unit;
	font-size: $font__size-sm;

	@include media(tablet) {
		// display: inline-block;
		font-size: $font__size-md;
	}

	// @include media(desktop) {
	// 	// display: inline-block;
	// 	font-size: $font__size-lg;
	// }

	// Site title

	.site-title {
		margin: auto;
		// display: inline;
		color: $color__text-main;
		font-family: $font__marker;

		a {
			color: $color__text-main;

			&:link,
			&:visited {
				color: $color__text-main;
			}

			&:hover {
				color: $color__text-hover;
			}
		}

		.featured-image & {
			margin: 0;

			// @include media(tablet) {
			// 	// display: inline-block;
			// 	font-size: $font__size-md;
			// }

			// @include media(desktop) {
			// 	// display: inline-block;
			// 	font-size: $font__size-lg;
			// }
		}

		/* When there is no description set, make sure navigation appears below title. */
		+ .main-navigation {
			display: block;
		}

		
		// @include media(mobile) {
		// 	font-size: $font__size-sm;
		// }

		// @include media(tablet) {
		// 	// display: inline;
		// }

		// &:not(:empty) + .site-description:not(:empty):before {
		// 	content: "\2014";
		// 	margin: 0 .2em;
		// }
	}

	// Site description

	.site-description {

		// display: inline;
		color: $color__text-light;
		font-weight: normal;
		margin: 0;

		
		// @include media(mobile) {
		// 	display: none;
		// }
	}
}