// pencil border

$borderWidth: 6px;
$borderWidthBold: 10px;

// map post list

$mapZIndex: 450;
$postListMinWidth: 300px;
$postListMaxWidth: 400px;
$categoryIconSize: 60px; 

// icon size
$iconSize: 24px;