.archive .page-header,
.search .page-header,
.error404 .page-header {
	background-color: $color__background-cyan;
	margin: 0;
	padding: $size__spacing-unit $size__spacing-unit 0.5 * $size__spacing-unit;

	@include borderCyan('bottom');

	.page-title-container {
		display: flex;
		align-items: center;

		> *:not(:last-child) {
			margin-right: .5 * $size__spacing-unit;
		}

		@include media(tablet) {
			max-width: $size__site-tablet-content;
			margin: 0 auto;
		}

		@include media(desktop) {
			max-width: $size__site-desktop-content;
		}
	}

	.category-image img {
		display: block;
		width: $categoryIconSize;
	}

	.page-title {
		display: block;
		color: $color__text-main;
		font-family: $font__marker;
		margin: 0;

		&:before {
			display: none;
		}
	}

	.search-term,
	.page-description {
		display: inherit;
		clear: both;
		font-family: $font__marker;
		font-size: 1em;
		font-weight: normal;

		// &:after {
		// 	content: ".";
		// 	font-weight: bold;
		// 	color: $color__text-light;
		// }
	}
}

.archive .page-header .page-description {
	display: inline;
}

.hfeed .entry .entry-header {

	@include media(tablet) {
		margin: calc(3 * #{$size__spacing-unit}) $size__site-margins calc(#{ $size__spacing-unit } / 2);
	}
}

/* 404 & Not found */

.error-404.not-found,
.no-results.not-found {

	.page-content {

		margin: calc(3 * #{$size__spacing-unit}) #{$size__spacing-unit};

		@include media(tablet) {
			margin: calc(3 * #{$size__spacing-unit}) auto calc(#{ $size__spacing-unit } / 2);
			max-width: $size__site-tablet-content;
		}

		@include media(desktop) {
			max-width: $size__site-desktop-content;
		}
	}

	.search-submit {
		vertical-align: middle;
		margin: $size__spacing-unit 0;
	}

	.search-field {
		width: 100%;
	}
}
