.post-list-map-container {
    display: flex;
    height: 500px;
    position: relative;
}

aside.post-list {
    flex: 1;
    min-width: $postListMinWidth;
    max-width: $postListMaxWidth;
    display: none;
    flex-direction: column;
    padding: 0;
    z-index: $mapZIndex;
    position: relative;
    @include border('right');
    border-image-outset: 0;
    margin-right: -$borderWidth / 2;

    &.visible {
        display: flex;
    }

    &.hidden {
        display: none;
    }

    @include media(tablet) {
        display: flex;
    }

    .post-list-title {
        position: relative;
        padding: .75 * $size__spacing-unit $size__spacing-unit .5 * $size__spacing-unit;
        background-color: $color__background-cyan;
        @include borderCyan('bottom');

        h2 {
            font-family: $font__marker;
            font-size: $font__size-sm;
            margin: 0;
        }
        #post-list-close {
            position: absolute;
            top: 5px;
            right: 4px;

            padding: .4 * $size__spacing-unit;
            line-height: $iconSize / 2;
            border-radius: 50%;
            border: none;
            background-color: transparent;

            svg {
                fill: $color__text-main;
            }

            &:hover {
                background-color: $color__background-button-hover;
                border: 3px solid $color__text-main;
                padding: calc(.4 * #{$size__spacing_unit} - 3px);
            }

            @include media(tablet) {
                padding: .5 * $size__spacing-unit;

                &:hover {
                    padding: calc(.5 * #{$size__spacing_unit} - 3px);
                }
            }
        }
    }

    #post-list {
        flex: 1;
        margin: 0;
        padding-left: 0;
        list-style: none;
        overflow-y: auto;
        .post-item {
            display: block;
            margin: 0 .5 * $size__spacing-unit;
            padding: 0 $size__spacing-unit .5 * $size__spacing-unit;
            background-color: $color__background-body;
            @include border('top');
            cursor: pointer;

            &:hover {
                background-color: $color__background_selection;
            }
            .post-title {
                font-family: $font__marker;
                font-size: $font__size-sm;
                margin: .5 * $size__spacing-unit 0;

                &:hover{
                    cursor: pointer;
                }

                @include media(tablet) {
                    font-size: $font__size-md;
                }
            }
            &.highlighted {
                background-color: $color__background-beige;
                @include borderBeige('top');

                h3 {
                    // color: $color__background-body;
                }
            }
            .post-details {
                display: flex;
                align-items: center;
                justify-content: space-between;

                img {
                    width: $categoryIconSize;
                }

                .post-read-more {
                    color: inherit;

                    &:hover {
                        color: $color__text-hover;
                    }

                    &:after {
                        background: url('images/icons/chevron_right.svg');
                        width: 24px;
                        height: 24px;
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        margin-top: -2px;
                    }
                }
            }
        }
    }

    #colophon .site-info {
        margin: .5 * $size__spacing-unit $size__spacing-unit;
    }
}

.map-container {
    flex: 2;
    height: 100%;
    position: relative;

    #post-list-toggle {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: $mapZIndex;

        padding: 0;
        line-height: $iconSize / 2;

        svg {
            stroke: currentColor;
        }

        &:not(.visible) {
            background-color: $color__background-body;
            @include border;

            svg {
                stroke: $color__text-main;
            }
        }
    }

    #world-map {
        width: 100%;
        height: 100%;
    }
}

// Customize Leaflet style

$popUpBorderWidth: 5px;

.leaflet-container {

    .leaflet-popup {
        margin: -$borderWidth + 1;
        border: $borderWidth solid $color__text-main;
        border-image-source: url(images/borders/popup.svg);
        border-image-repeat: repeat;
        border-image-slice: 10 10 50 10;
        border-image-width: 1 1 5 1;
        border-image-outset: 0 0 4 0;


        .leaflet-popup-content-wrapper {
            box-shadow: none;
            border-radius: 0;
        }


        a {
            color: $color__link;
    
            &:hover {
                color: $color__link-hover;
            }
        }

        .entry-title a {
            color: $color__text-main;

            &:hover {
                color: $color__text-hover;
            }
        }

        // .leaflet-popup-close-button {
        //     display: none;
        // }

        .leaflet-popup-tip-container {
            display: none;
        }
    }
}
